@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
} */

::-webkit-scrollbar {
  background-color: rgba(0, 33, 71, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 33, 71, 0.9);
}

.orderDeets::-webkit-scrollbar {
  visibility: hidden;
  width: 5px;
}

.orderDeets::-webkit-scrollbar-thumb {
  background-color: #002147;
  border-radius: 30px;
}

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
